.site-header {
  height: 4 * $font-size;
  border-bottom: 2px solid $color_blue;
  display: flex;
  align-items: center;
}

.site-name {
  font-weight: bold;
  font-size: 2 * $font-size;
  display: block;
  margin-left: 0.75 * $font-size;

  &:hover {
    text-decoration: none;
  }
}

.site-logo {
  width: 2 * $font-size;
  height: 2 * $font-size;
  vertical-align: text-top;
}

.navbar {
  display: block;
  position: relative;
  margin: 0 0 0 auto;
}

#navbar-button {
  display: none;
}

#navbar-items {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;

  li {
    margin: 0;
  }

  li a {
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    width: 8 * $font-size;
    height: 4 * $font-size;

    color: black;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

    transition: background-color 0.2s ease-out, color 0.2s ease-out;

    &:hover {
      text-decoration: none;
    }
  }

  li:nth-child(1) a {
    color: $color_blue;

    &:hover {
      color: white;
      background-color: $color_blue;
    }
  }

  li:nth-child(2) a {
    color: $color_green;

    &:hover {
      color: white;
      background-color: $color_green;
    }
  }

  li:nth-child(3) a {
    color: $color_red;

    &:hover {
      color: white;
      background-color: $color_red;
    }
  }
}

@media (max-width: 560px) {
  #navbar-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4 * $font-size;
    height: 4 * $font-size;

    user-select: none;
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

    color: $color_purple;
    transition: background-color 0.2s ease-out, color 0.2s ease-out;

    &:hover {
      color: white;
      background-color: $color_purple;
    }
  }

  #navbar-items {
    display: none;
    position: absolute;
    top: 4 * $font-size;
    right: 0;
    border-left: 2px solid $color_blue;
    border-bottom: 2px solid $color_blue;

    li a {
      background-color: white;
    }
  }

  .navbar:hover #navbar-items {
    display: block;
  }
}
