.page-content {
  max-width: 800px + 2 * $font-size;
  margin: 2 * $font-size auto;
  padding: 0 $font-size;
}

.welcome-title {
  margin: 0 0 2 * $font-size 0;
  text-align: center;
  font-size: 4 * $font-size;
  font-weight: bold;
}

.welcome-instruction {
  text-align: center;
}

.upload-button {
  display: block;
  cursor: pointer;

  margin: $font-size auto;
  box-sizing: border-box;
  width: 16 * $font-size;
  padding: $font-size;
  text-align: center;
  font-size: 2 * $font-size;

  background-color: $color_yellow;
  border: 4px solid $color_dark_yellow;
  border-radius: 8px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  transition: background-color 0.2s ease-out, color 0.2s ease-out;

  &:hover {
    background-color: $color_dark_yellow;
    color: white;
  }
}

#upload-file-selector {
  input {
    display: none;
  }
}

#upload-submit {
  display: none;
}

.upload-error {
  text-align: center;
  color: red;
}

.upload-success {
  text-align: center;
  color: green;
}

.upload-result-url {
  word-break: break-all;
  text-align: center;
  font-size: 0.875 * $font-size;
  font-family: monospace;
}

.upload-converter-instruction {
  text-align: center;

  code {
    color: $color_blue;
  }
}
