.syntax-highlight {
  .rem {
    color: #90A4AE;
  }
  .fun {
    color: #0277BD;
  }
  .str {
    color: #43A047;
  }
  .num {
    color: #FFAB00;
  }
  .opt {
    color: #6A1B9A;
  }
  .key {
    color: #B71C1C;
  }
}
