html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  font-size: $font-size;
  box-sizing: border-box;
}

p, ol, ul, li, pre {
  margin: $font-size 0;
}

pre {
  overflow-x: scroll;
}

a {
  color: $color_blue;
  text-decoration: none;

  &:link {
    color: $color_blue;
    text-decoration: none;
  }

  &:hover {
    color: $color_blue;
    text-decoration: underline;
  }

  &:active {
    color: $color_blue;
  }
}
