@import "_vars";

.noscript-hidden {
  display: none;
}

#upload-submit {
  display: block;
}

#upload-file-selector {
  padding: 0;
  font-size: $font-size;
  text-align: left;
  background-color: transparent;
  color: inherit;
  border: none;
  border-radius: 0;
  transition: none;
  cursor: default;

  input {
    display: block;
  }
}
